html, body {
  height: 100%;
}

html {
  display: table;
  margin: auto;
}

body{
  display: table-cell;
  vertical-align: middle;
  background: #eee;
  text-align: center !important;

}
.App {
  text-align: center;
  width: 800px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




/*
  container *****************************************************************************
*/
.container{
  border: 1px solid #8d8d8d;
  display: inline-block;
  padding: 5px;
  vertical-align: top;
  position: relative;
  background: white;
  margin: 7px;
}



/*
  box *****************************************************************************
*/
.box{
  border: 1px solid #8d8d8d;
  height: 30px;
  width: 30px;
  display: inline-block;
  margin: 5px;
  position: relative;
  cursor: pointer;
}





/*
  tooltip *****************************************************************************
*/
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: white;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  padding: 15px 9px 9px 15px;
  white-space: nowrap;
  box-shadow: rgba(0, 0, 0, 0.25) 0 1px 4px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}




/*
  label *****************************************************************************
*/
.label{
  border: 1px solid #8d8d8d;
  height: 20px;
  width: 30px;
  display: inline-block;
  margin: 5px;
  padding: 3px 10px;
  border-radius: 3px;
  vertical-align: top;
  background: lemonchiffon;
}


/*
  label buttons *****************************************************************************
*/
.button{
  margin: 5px;
  border-radius: 3px;
  background: white;
  border: 1px solid #d3d3d3;
  outline:none;
  padding: 10px 20px;

}

.button:hover {
  background: #f2f2f2;
  cursor: pointer;
}

.button:active{
  background: #e9e9e9;
}




/*
  close button *****************************************************************************
*/
.button-close{
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 2px;
  /*line-height: unset;*/
  border-radius: 3px;
  background: white;
  border: 1px solid #d3d3d3;
  outline:none;
  font-size: 8px;
}
.container:hover .button-close,
.box:hover .button-close {
  display: inline-block;
}

.button-close:hover {
  background: #f2f2f2;
  cursor: pointer;
}

.button-close:active{
  background: #e9e9e9;
}





/*
  color-picker *****************************************************************************
*/
.color-picker {
  display: inline-block;
  z-index: 1;
  text-align: left;
}

.color-picker-color {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 4px;
  margin: 0 6px 6px 0;
  cursor: pointer;
  outline: none;
  vertical-align: top;
}

.color-picker input {
  display: inline-block;
  /*position: relative;*/
  width: 93px;
  font-size: 14px;
  color: rgb(102, 102, 102);
  border: 0;
  outline: none;
  height: 28px;
  box-shadow: rgb(240, 240, 240) 0 0 0 1px inset;
  border-radius: 0 4px 4px 0;
  padding-left: 8px;
  vertical-align: top;
}

/*
  print *****************************************************************************
*/
.print {
  margin: 20px 0;
  margin-bottom: 50px;
  margin-right: 0;

}

.print div {
  border-radius: 3px;
  background-color: white;
  padding: 7px;
  text-align: left;
  min-height: 15px;
}



/*
  textbox *****************************************************************************
*/
.textbox {
  margin-top: 20px;
}